In [ ]:
!pip install cx_oracle

In [ ]:
import cx_Oracle
import pandas as pd
db = cx_Oracle.connect("c##madang", "madang", "localhost:1521/xe")
cursor = db.cursor()
cursor.execute("select * from BOOK")
x = cursor.fetchall()
df = pd.DataFrame(x)
df.head()

In [ ]:
db = cx_Oracle.connect("c##madang", "madang", "localhost:1521/xe")
cursor = db.cursor()
cursor.execute("select * from BOOK")
x = cursor.fetchall()
df = pd.DataFrame(x)
cursor.execute("""select column_name from user_tab_columns where table_name = 'BOOK'""")
col = cursor.fetchall()
col_new = [j for i in col for j in i]
df.columns = col_new
df.head()

In [ ]:
col_new = []
for i in col:
    for j in i:
        col_new.append(j)
col_new

In [ ]:
cursor.close()
db.close()

In [ ]:
# Q. hr 사용자를 적용하면 원하는 테이블을 가져와서 df로 출력하세요(컬럼명 포함)
import cx_Oracle
import pandas as pd

#사용자명, 비번, host이름:포트/서비스이름
#db 들어가서 속성 누르면 나오는 정보들
#db연결 
db = cx_Oracle.connect('c##hr', 'hr', 'localhost:1521/xe')

cursor = db.cursor()
cursor.execute('select * from EMPLOYEES')
x = cursor.fetchall()
df_hr = pd.DataFrame(x)

cursor.execute("select column_name from user_tab_columns where table_name ='EMPLOYEES'")
col = cursor.fetchall()

col_new = [j for i in col for j in i]
df_hr.columns = col_new

df_hr.head()

In [ ]:
cursor.close()
db.close()

In [ ]:
# create, insert
import cx_Oracle
db = cx_Oracle.connect("c##madang","madang","localhost:1521/xe")
cursor = db.cursor()
cursor.execute("create table sample2(id number)")
cursor.execute("insert into sample2(id) values(1)")
db.commit()

In [ ]:
db = cx_Oracle.connect("c##cakd7", "cakd7", "localhost:1521/xe")
cursor = db.cursor()
cursor.execute("select * from DEMO")
x = cursor.fetchall()
df = pd.DataFrame(x)
cursor.execute("""select column_name from user_tab_columns where table_name = 'DEMO'""")
col = cursor.fetchall()
col_new = [j for i in col for j in i]
df.columns = col_new
df.head()

In [ ]:
df.shape

In [ ]:
df.AGE.value_counts()

In [ ]:
df.AGE.unique()

In [ ]:
cursor.close()
db.close()

In [ ]:
db = cx_Oracle.connect("c##cakd7", "cakd7", "localhost:1521/xe")
cursor = db.cursor()
cursor.execute("select * from PRODCL")
x = cursor.fetchall()
df = pd.DataFrame(x)
cursor.execute("""select column_name from user_tab_columns where table_name = 'PRODCL'""")
col = cursor.fetchall()
col_new = [j for i in col for j in i]
df.columns = col_new
df.head()

In [ ]:
df.ASSO.value_counts()

In [ ]:
df.BCODE.unique()

과제_1012_1 PURPRD 테이블을 가져와서 다음사항을 수행하세요
- pivot_table을 이용해서 고객번호별 대분류(상품)별 구매금액을 도출
- 고객별 구매관련 의미있는 인사이트를 뽑아낼 수 있는 데이터 셋을 출력(2개 이상)