## 외부 파일 읽어오기

### csv

In [2]:
# csv
import numpy as np
import pandas as pd

ar1 = np.arange(10).reshape(2,5)
df = pd.DataFrame(ar1,columns=list('abcde'))
df.to_csv('dataset/test.csv')

In [4]:
df = pd.read_csv('dataset/test.csv',index_col=0)
df

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

### json

In [5]:
# json
df1 = df.copy()
df1.to_json('dataset/test1.json')

In [7]:
df1_json = pd.read_json('dataset/test1.json')
df1_json

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

### 바이너리 파일

In [12]:
# 바이너리 파일 읽고 쓰기
df2 = df.copy()
df2.to_pickle('dataset/test2.pkl')
df2_pkl = pd.read_pickle('dataset/test2.pkl')
df2_pkl

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

In [15]:
# 오류제거 openpyxl install
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

### 엑셀

In [16]:
# 엑셀
df = pd.read_excel('dataset/auto-mpg.xlsx')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

mpg: 연비 , cylinders: 엔진 , displacement: 배기량, horsepower:마력, acceleration 가속

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [19]:
df.isnull().sum().sum()

0

In [18]:
df1 = df[['mpg','weight']]
df1.corr()

             mpg    weight
mpg     1.000000 -0.831741
weight -0.831741  1.000000

In [22]:
df.horsepower

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

#### unique()

In [21]:
# unique() 중복된 값 제거하고 출력
df.horsepower.unique()

# dtype:object 의구심 갖고 이유 찾아보기 : '?'포함

array([130, 165, 150, 140, 198, 220, 215, 225, 190, 170, 160, 95, 97, 85,
       88, 46, 87, 90, 113, 200, 210, 193, '?', 100, 105, 175, 153, 180,
       110, 72, 86, 70, 76, 65, 69, 60, 80, 54, 208, 155, 112, 92, 145,
       137, 158, 167, 94, 107, 230, 49, 75, 91, 122, 67, 83, 78, 52, 61,
       93, 148, 129, 96, 71, 98, 115, 53, 81, 79, 120, 152, 102, 108, 68,
       58, 149, 89, 63, 48, 66, 139, 103, 125, 133, 138, 135, 142, 77, 62,
       132, 84, 64, 74, 116, 82], dtype=object)