#### Q1. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [5]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

In [6]:
partner_li=zip(male,female)
print(list(partner_li))

[('철수', '미미'), ('갑돌', '갑순'), ('로미오', '줄리엣'), ('이몽룡', '성춘향'), ('온돌', '평강')]

In [7]:
from random import shuffle
import random

In [8]:
c = list(zip(male,female))
random.shuffle(c)
male,female=zip(*c)

In [9]:
for m,f in zip(male,female):
    print(m,f)

로미오 줄리엣
온돌 평강
갑돌 갑순
철수 미미
이몽룡 성춘향

In [16]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
random.shuffle(female)

couples = zip(male, female)

for i, couple in enumerate(couples):
    print(f'커플{i+1}:{couple[0]},{couple[1]}')

커플1:갑돌,갑순
커플2:이몽룡,줄리엣
커플3:로미오,미미
커플4:온돌,평강
커플5:철수,성춘향

#### Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요. (중복금지)

In [17]:
import random
num = input("숫자를 입력하세요")

숫자를 입력하세요 3

In [ ]:
# import random
# num=[]
# lo=random.randrange(1,46)

# for i in range(0,int(num)):
#     while lo in num:
#         lo = random.randrange(1,46)
#     num.append(lo)

# num.sort()
# print(num)

In [18]:
import random
num = input("숫자를 입력하세요")

숫자를 입력하세요 3

In [19]:
for i in range(0,int(num)):
    lo = random.sample(range(1,46),int(num))
    print(lo)

[11, 26, 43]
[8, 15, 43]
[37, 19, 7]

[도전과제] 발표자를 원하는 수만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [20]:
cakd7 = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A','이정현B','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린','윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']
len(cakd7)

25

#### 7/14 - Q3. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. abc -> bca

In [23]:
text = input('문장을 입력하세요.')
ret = ''
for i in range(len(text)):
    if i != len(text)-1:
        ret += text[i+1]
    else:
        ret +=text[0]
print(ret)

문장을 입력하세요. abc

bca

In [24]:
# a = input().split()
# b = a[1]+a[2]+a[0]
# print(b)

In [25]:
a = input().split()
b = list(map(list,a))
b
# print(b[1]+b[2]+b[0])

 abc

[['a', 'b', 'c']]

In [ ]:
a = input().split()
new[1]

In [ ]:
print(b)

#### 7/14 - Q4. url에서 호스트 도메인을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601

news.naver.com 요기만 출력하기

In [27]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [28]:
naver = url.split('/')

domain = naver[2]

print(domain)

news.naver.com

#### 7/15 - Q5. url에서 쿼리문을 추출하여 출력하세요.

url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [32]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [40]:
naver = url.split('?')
query = naver[1].split('&')
query

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

#### 7/15 - Q6.텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

In [31]:
with open('mydata.txt','r')as f:
    data = f.read()
print(data)

a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again

if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

In [42]:
print(data.count(''))

1071

In [43]:
print(data.count('e'))

97

In [44]:
print(data.count('t'))

85

In [2]:
%cd

C:\Users\admin

In [3]:
def getTextFreq('mydata.txt'):
    with open('mydata.txt','r') as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1
            else:
                fa[c] = 1
    return fa
ret = getTextFreq('data/mydata.txt')
ret = sorted(ret.items(),key=lambda x:x[1], reverse=True)
print(ret)
for c, freq in ret:
    if c =='\n':
        continue
    print('[%c] - > [%d]회 나타남' %(c,freq))

SyntaxError: invalid syntax (2728696289.py, line 1)

#### Q7. 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요. (0을 입력한 경우 다시 입력하도록 조치)

In [ ]:
# Cal4 클래스를 만들어서 작성

#### Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여 출력가격에 원이 추가되도록 출력하세요.

In [6]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
    def order(self, price): 
        self.customer += price 
        return self.customer

order = Order('kevin')
print(order.order(1000))

1000

#### Q9.업무미팅이 2시임을 알려주는 자동 이메일을 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.
안녕하세요. kevin님, 업무미팅은 2시입니다.