#### Q1. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [5]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

In [6]:
partner_li=zip(male,female)
print(list(partner_li))

[('철수', '미미'), ('갑돌', '갑순'), ('로미오', '줄리엣'), ('이몽룡', '성춘향'), ('온돌', '평강')]

In [7]:
from random import shuffle
import random

In [8]:
c = list(zip(male,female))
random.shuffle(c)
male,female=zip(*c)

In [9]:
for m,f in zip(male,female):
    print(m,f)

로미오 줄리엣
온돌 평강
갑돌 갑순
철수 미미
이몽룡 성춘향

In [16]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
random.shuffle(female)

couples = zip(male, female)

for i, couple in enumerate(couples):
    print(f'커플{i+1}:{couple[0]},{couple[1]}')

커플1:갑돌,갑순
커플2:이몽룡,줄리엣
커플3:로미오,미미
커플4:온돌,평강
커플5:철수,성춘향

#### Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요. (중복금지)

In [17]:
import random
num = input("숫자를 입력하세요")

숫자를 입력하세요 3

In [ ]:
# import random
# num=[]
# lo=random.randrange(1,46)

# for i in range(0,int(num)):
#     while lo in num:
#         lo = random.randrange(1,46)
#     num.append(lo)

# num.sort()
# print(num)

In [18]:
import random
num = input("숫자를 입력하세요")

숫자를 입력하세요 3

In [19]:
for i in range(0,int(num)):
    lo = random.sample(range(1,46),int(num))
    print(lo)

[11, 26, 43]
[8, 15, 43]
[37, 19, 7]

[도전과제] 발표자를 원하는 수만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [20]:
cakd7 = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A','이정현B','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린','윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']
len(cakd7)

25

#### 7/14 - Q3. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. abc -> bca

In [23]:
text = input('문장을 입력하세요.')
ret = ''
for i in range(len(text)):
    if i != len(text)-1:
        ret += text[i+1]
    else:
        ret +=text[0]
print(ret)

문장을 입력하세요. abc

bca

In [24]:
# a = input().split()
# b = a[1]+a[2]+a[0]
# print(b)

In [25]:
a = input().split()
b = list(map(list,a))
b
# print(b[1]+b[2]+b[0])

 abc

[['a', 'b', 'c']]

In [ ]:
a = input().split()
new[1]

In [ ]:
print(b)

#### 7/14 - Q4. url에서 호스트 도메인을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601

news.naver.com 요기만 출력하기

In [27]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [28]:
naver = url.split('/')

domain = naver[2]

print(domain)

news.naver.com

#### 7/15 - Q5. url에서 쿼리문을 추출하여 출력하세요.

url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [32]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [40]:
naver = url.split('?')
query = naver[1].split('&')
query

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

#### 7/15 - Q6.텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

In [31]:
with open('mydata.txt','r')as f:
    data = f.read()
print(data)

a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again

if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

In [42]:
print(data.count(''))

1071

In [43]:
print(data.count('e'))

97

In [44]:
print(data.count('t'))

85

In [2]:
%cd

C:\Users\admin

In [14]:
def getTextFreq('mydata.txt'):
    with open('mydata.txt','r') as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1
            else:
                fa[c] = 1
    return fa
ret = getTextFreq('mydata.txt')
ret = sorted(ret.items(),key=lambda x:x[1], reverse=True)
print(ret)
for c, freq in ret:
    if c =='\n':
        continue
    print('[%c] - > [%d]회 나타남' %(c,freq))

SyntaxError: invalid syntax (2514282261.py, line 1)

#### Q7. 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요. (0을 입력한 경우 다시 입력하도록 조치)

In [ ]:
# Cal4 클래스를 만들어서 작성

In [1]:
class Cal4:
    def __init__(self, first,second):
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first + self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [3]:
num1=int(input("슷지1"))
num2=int(input("슷지2"))

슷지1 10
슷지2 4

In [4]:
a= Cal4(num1,num2)

In [6]:
print(f'덧셈은 {a.add()}, 뺄셈은 {a.sub()}, 곱셈은 {a.mul()}, 나눗셈은 {a.div()}')

덧셈은 14, 뺄셈은 6, 곱셈은 40, 나눗셈은 2.5

In [ ]:
class setCal4(Cal4):
    def div(self):
        if self.second ==0:
            return self.second
        elif slef.first ==0:
            return self.first
        else:
            return self.first / self.second

#### Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여 출력가격에 원이 추가되도록 출력하세요.

In [15]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name
    def order(self, price): 
        self.customer += price 
        return self.customer

order = Order('kevin')
print(order.order(1000))

1000

In [18]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name
    def order(self, price): 
        self.customer += price 
        return self.customer

class pluswon(Order):
    def order(self,price):
        self.customer += price
        return str(self.customer)+'원'

order = pluswon('kevin')
print(order.order(1000))

1000원

#### Q9.업무미팅이 2시임을 알려주는 자동 이메일을 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.
안녕하세요. kevin님, 업무미팅은 2시입니다.

In [ ]:
class AutoEmail:
    def __init__(self,name,t):
        self.name=name
        self.t=t
    def alarm(self):
        if time.localtime().tm_hour==self.t:
            print(f'{self.name}님, 업무미팅이 진행중입니다.")
        else:
            print(f'안녕하세요{self.name}님, 업무미팅은 {self.t}시 입니다.')
AE=AutoEmail("고객",15)
AE.alarm()

#### Q10. 정규표현식을 사용하여 text에서 전화번호만 출력하세요.
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'

In [14]:
import re
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'
p = re.compile(r"\w+\s+(\d+[-]\d+[-]\d+)\w+")
m = p.search(text)
m.group(1)

'032-232-3245'

#### Q11. 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요.
text = "에러 1122, 레퍼런스 오류, 에러1033, 아규먼트 오류, 에러 xxx"

In [1]:
import re
text = "에러 1122, 레퍼런스 오류, 에러1033, 아규먼트 오류, 에러 xxx"
p= re.compile("에러\s\w+")
m = p.findall(text)
m

['에러 1122', '에러 xxx']

In [30]:
import re
text = "에러 1122, 레퍼런스 오류, 에러1033, 아규먼트 오류, 에러 xxx"
p= re.compile("에러\s\d+|에러\d+|에러\s\w+")
m = p.findall(text)
m

['에러 1122', '에러1033', '에러 xxx']

#### Q12. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'

In [2]:
import re
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'
p = re.compile(r"\w+\s+(\d{3})+[-]\w+")
m = p.search(text)
m.group(1)

'032'

#### Q13. 정규표현식을 사용하여 text에서 지역코드 제외한 번호만 출력하세요.
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'

In [9]:
import re
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'
p = re.compile(r"(\w+\d+[-])(\d+[-]\d+)(\w+)")
m = p.search(text)
m.group(2)

'232-3245'

#### Q14.'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [20]:
import re
text = 'abcdefghij'
p = re.compile(r"(\w{2}\w{2}(\w{1})\w{3}\w{1})")
m = p.search(text)
print(m.group(1))
print(m.group(2))

abcdefghi
e

In [2]:
p = re.compile('(a(b(c(d(e)f)g)h)i)j')
m = p.match('abcdefghij')
# print(m.group(0))
print(m.group(1))
m.group(5)

abcdefghi

'e'

#### Q15. 위 문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력하세요.

In [3]:
m.groups()

('abcdefghi', 'bcdefgh', 'cdefg', 'def', 'e')

In [27]:
import re
text = 'abcdefghij'
m = re.match(r"(\w{2}\w{2}(\w{1})\w{3}\w{1})", text)
m.groups(0)

('abcdefghi', 'e')

#### Q16. 이름으로 그룹을 참조하여 'Lots of punctuation 에서 Lots를 출력하세요.

In [2]:
import re
text='Lots of punctuation'
p = re.compile(r'(\w+)+')
m = p.search(text)
m.group(1)

'Lots'

In [36]:
import re
text='Lots of punctuation'
m = re.match(r'(?P<word>\w+)+',text)
m.group('word')

'Lots'

#### Q17. 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

In [8]:
import re
text='Paris is very very beautiful'
p = re.compile(r'\w+\s(\w{4}\s\w{4})+')
m = p.search(text)
m.group(1)

'very very'

#### Q18. 정규표현식을 작성하여 아래와 같이 출력하세요.

In [37]:
['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [38]:
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile(r'\d+\s\w+')
list = regex.findall(li)
print(list)

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

#### Q19. text에서 h,H 만 출력하세요

In [4]:
text = 'Hello my friend! Life is short you need Python!'

In [40]:
import re
text = 'Hello my friend! Life is short you need Python!'
p = re.compile('(h|H)')
p.findall(text)

['H', 'h', 'h']

#### Q20. text에서 h,H 아닌것만 출력하세요

In [1]:
import re
text = 'Hello my friend! Life is short you need Python!'
p = re.compile('[^h|H]')
q = p.findall(text)
print(q)

['e', 'l', 'l', 'o', ' ', 'm', 'y', ' ', 'f', 'r', 'i', 'e', 'n', 'd', '!', ' ', 'L', 'i', 'f', 'e', ' ', 'i', 's', ' ', 's', 'o', 'r', 't', ' ', 'y', 'o', 'u', ' ', 'n', 'e', 'e', 'd', ' ', 'P', 'y', 't', 'o', 'n', '!']

#### Q21. 'we are going home'에서 home만 출력하세요.

In [13]:
import re
text='we are going home'
p = re.compile(r'(\w{4})$')
m = p.search(text)
m.group(1)

'home'

#### Q22. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

In [12]:
import re
text='199305, 1923A, a93247'
p = re.compile(r'(\d+)+')
m = p.search(text)
m.group(1)

'199305'

#### Q23. '12345abc'에서 'abc'만 출력하세요.

In [2]:
import re
text = '12345abc'
p = re.compile('abc')
p.findall(text)

['abc']

In [5]:
text = '12345abc'
m = re.search('\D+',text)
m.group()

'abc'

In [6]:
text = '12345abc'
m = re.search('\d+',text)
m.group()

'12345'

#### Q24. '12345abc'에서 'a'만 출력하세요.

In [8]:
import re
text = '12345abc'
p = re.compile('a')
q = p.findall(text)
print(q)

['a']

#### Q25. 'abc12345Abc'에서 'A'만 출력하세요.

In [11]:
import re
text = 'abc12345Abc'
p = re.compile('A')
q = p.findall(text)
print(q)

['A']

#### Q26. 'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요

In [2]:
import re
text='Banker'
p = re.compile(r'(\w{5})$')
m = p.search(text)
m.group(1)

'anker'

In [1]:
import re
text='Banker'
p = re.compile(r'[A-Z](\w+)')
m = p.search(text)
m.group(1)

'anker'

In [28]:
import re
text='banker123'
p = re.compile(r'([a-z]+)')
m = p.search(text)
m.group(1)

'banker'

In [29]:
import re
text='banker123'
p = re.compile(r'(\D+)')
m = p.search(text)
m.group(1)

'banker'

#### Q27. 'KOREA 대한민국'에서 '대'만 출력하세요.

In [7]:
import re
text='KOREA 대한민국'
p = re.compile('대')
#p = re.compile('\s(\w)')
q = p.findall(text)
print(q)

['대']

In [7]:
text='KOREA 대한민국'
p = re.search('[가-힣]',text)
p.group()

'대'

#### Q28. text에서 'aaaaBBBcccDDDeee'을 모두 출력하세요.

In [8]:
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
print(len('aaaaBBBcccDDDeee'))

16

In [20]:
import re
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
p = re.compile(r'(\w{16})$')
m = p.search(text)

result = m.group(1)
result[::-1]

'aaaaBBBcccDDDeee'

In [4]:
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
p = re.search( 'a{4}B{3}c{3}D{3}e{3}',text)
p.group()

'aaaaBBBcccDDDeee'

#### Q29. 아래의 경우에서 \<html>만 출력하세요

In [10]:
# Q
import re
pattern = re.compile('<.*?>') #html 태그 지우기
text = '<html><head><title>Title</title></head><body></body></html>'

print(len(text))
p = pattern.search(text)
p.group()

59

'<html>'

#### Q30. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

In [31]:
import re
text = '1234a1234'
p = re.findall('(\d)',text)
p

['1', '2', '3', '4', '1', '2', '3', '4']

#### Q32. text에서 전체문장 모두 출력하세요.

In [12]:
# Q.
import re
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*')
mo = regex.search(text)
print(mo.group())

what are you doing?

#### Q33. text에서 대소문자 구분없이 전체문장 모두 출력하세요
text = 'Friend fRiend friEnd FRIEND'

In [13]:
text = 'Friend fRiend friEnd FRIEND'

#### Q34. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

#### Q35. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.