#### Q1. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [5]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

In [6]:
partner_li=zip(male,female)
print(list(partner_li))

[('철수', '미미'), ('갑돌', '갑순'), ('로미오', '줄리엣'), ('이몽룡', '성춘향'), ('온돌', '평강')]

In [7]:
from random import shuffle
import random

In [8]:
c = list(zip(male,female))
random.shuffle(c)
male,female=zip(*c)

In [9]:
for m,f in zip(male,female):
    print(m,f)

로미오 줄리엣
온돌 평강
갑돌 갑순
철수 미미
이몽룡 성춘향

In [16]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
random.shuffle(female)

couples = zip(male, female)

for i, couple in enumerate(couples):
    print(f'커플{i+1}:{couple[0]},{couple[1]}')

커플1:갑돌,갑순
커플2:이몽룡,줄리엣
커플3:로미오,미미
커플4:온돌,평강
커플5:철수,성춘향

#### Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요. (중복금지)

In [17]:
import random
num = input("숫자를 입력하세요")

숫자를 입력하세요 3

In [ ]:
# import random
# num=[]
# lo=random.randrange(1,46)

# for i in range(0,int(num)):
#     while lo in num:
#         lo = random.randrange(1,46)
#     num.append(lo)

# num.sort()
# print(num)

In [18]:
import random
num = input("숫자를 입력하세요")

숫자를 입력하세요 3

In [19]:
for i in range(0,int(num)):
    lo = random.sample(range(1,46),int(num))
    print(lo)

[11, 26, 43]
[8, 15, 43]
[37, 19, 7]

[도전과제] 발표자를 원하는 수만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [20]:
cakd7 = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A','이정현B','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린','윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']
len(cakd7)

25

#### 7/14 - Q3. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. abc -> bca

In [23]:
text = input('문장을 입력하세요.')
ret = ''
for i in range(len(text)):
    if i != len(text)-1:
        ret += text[i+1]
    else:
        ret +=text[0]
print(ret)

문장을 입력하세요. abc

bca

In [24]:
# a = input().split()
# b = a[1]+a[2]+a[0]
# print(b)

In [25]:
a = input().split()
b = list(map(list,a))
b
# print(b[1]+b[2]+b[0])

 abc

[['a', 'b', 'c']]

In [ ]:
a = input().split()
new[1]

In [ ]:
print(b)

#### 7/14 - Q4. url에서 호스트 도메인을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601

news.naver.com 요기만 출력하기

In [27]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [28]:
naver = url.split('/')

domain = naver[2]

print(domain)

news.naver.com

#### 7/15 - Q5. url에서 쿼리문을 추출하여 출력하세요.

url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [32]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [40]:
naver = url.split('?')
query = naver[1].split('&')
query

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

#### 7/15 - Q6.텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

In [31]:
with open('mydata.txt','r')as f:
    data = f.read()
print(data)

a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again

if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

In [42]:
print(data.count(''))

1071

In [43]:
print(data.count('e'))

97

In [44]:
print(data.count('t'))

85

In [2]:
%cd

C:\Users\admin

In [14]:
def getTextFreq('mydata.txt'):
    with open('mydata.txt','r') as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1
            else:
                fa[c] = 1
    return fa
ret = getTextFreq('mydata.txt')
ret = sorted(ret.items(),key=lambda x:x[1], reverse=True)
print(ret)
for c, freq in ret:
    if c =='\n':
        continue
    print('[%c] - > [%d]회 나타남' %(c,freq))

SyntaxError: invalid syntax (2514282261.py, line 1)

#### Q7. 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요. (0을 입력한 경우 다시 입력하도록 조치)

In [ ]:
# Cal4 클래스를 만들어서 작성

In [1]:
class Cal4:
    def __init__(self, first,second):
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first + self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [3]:
num1=int(input("슷지1"))
num2=int(input("슷지2"))

슷지1 10
슷지2 4

In [4]:
a= Cal4(num1,num2)

In [6]:
print(f'덧셈은 {a.add()}, 뺄셈은 {a.sub()}, 곱셈은 {a.mul()}, 나눗셈은 {a.div()}')

덧셈은 14, 뺄셈은 6, 곱셈은 40, 나눗셈은 2.5

In [ ]:
class setCal4(Cal4):
    def div(self):
        if self.second ==0:
            return self.second
        elif slef.first ==0:
            return self.first
        else:
            return self.first / self.second

#### Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여 출력가격에 원이 추가되도록 출력하세요.

In [15]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name
    def order(self, price): 
        self.customer += price 
        return self.customer

order = Order('kevin')
print(order.order(1000))

1000

In [18]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name
    def order(self, price): 
        self.customer += price 
        return self.customer

class pluswon(Order):
    def order(self,price):
        self.customer += price
        return str(self.customer)+'원'

order = pluswon('kevin')
print(order.order(1000))

1000원

#### Q9.업무미팅이 2시임을 알려주는 자동 이메일을 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.
안녕하세요. kevin님, 업무미팅은 2시입니다.

In [ ]:
class AutoEmail:
    def __init__(self,name,t):
        self.name=name
        self.t=t
    def alarm(self):
        if time.localtime().tm_hour==self.t:
            print(f'{self.name}님, 업무미팅이 진행중입니다.")
        else:
            print(f'안녕하세요{self.name}님, 업무미팅은 {self.t}시 입니다.')
AE=AutoEmail("고객",15)
AE.alarm()

#### Q10. 정규표현식을 사용하여 text에서 전화번호만 출력하세요.
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'

In [14]:
import re
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'
p = re.compile(r"\w+\s+(\d+[-]\d+[-]\d+)\w+")
m = p.search(text)
m.group(1)

'032-232-3245'

#### Q11. 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요.
text = "에러 1122, 레퍼런스 오류, 에러1033, 아규먼트 오류, 에러 xxx"

In [1]:
import re
text = "에러 1122, 레퍼런스 오류, 에러1033, 아규먼트 오류, 에러 xxx"
p= re.compile("에러\s\w+")
m = p.findall(text)
m

['에러 1122', '에러 xxx']

In [30]:
import re
text = "에러 1122, 레퍼런스 오류, 에러1033, 아규먼트 오류, 에러 xxx"
p= re.compile("에러\s\d+|에러\d+|에러\s\w+")
m = p.findall(text)
m

['에러 1122', '에러1033', '에러 xxx']

#### Q12. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'

In [2]:
import re
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'
p = re.compile(r"\w+\s+(\d{3})+[-]\w+")
m = p.search(text)
m.group(1)

'032'

#### Q13. 정규표현식을 사용하여 text에서 지역코드 제외한 번호만 출력하세요.
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'

In [9]:
import re
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'
p = re.compile(r"(\w+\d+[-])(\d+[-]\d+)(\w+)")
m = p.search(text)
m.group(2)

'232-3245'

#### Q14.'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [20]:
import re
text = 'abcdefghij'
p = re.compile(r"(\w{2}\w{2}(\w{1})\w{3}\w{1})")
m = p.search(text)
print(m.group(1))
print(m.group(2))

abcdefghi
e

In [2]:
p = re.compile('(a(b(c(d(e)f)g)h)i)j')
m = p.match('abcdefghij')
# print(m.group(0))
print(m.group(1))
m.group(5)

abcdefghi

'e'

#### Q15. 위 문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력하세요.

In [3]:
m.groups()

('abcdefghi', 'bcdefgh', 'cdefg', 'def', 'e')

In [27]:
import re
text = 'abcdefghij'
m = re.match(r"(\w{2}\w{2}(\w{1})\w{3}\w{1})", text)
m.groups(0)

('abcdefghi', 'e')

#### Q16. 이름으로 그룹을 참조하여 'Lots of punctuation 에서 Lots를 출력하세요.

In [2]:
import re
text='Lots of punctuation'
p = re.compile(r'(\w+)+')
m = p.search(text)
m.group(1)

'Lots'

In [36]:
import re
text='Lots of punctuation'
m = re.match(r'(?P<word>\w+)+',text)
m.group('word')

'Lots'

#### Q17. 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

In [8]:
import re
text='Paris is very very beautiful'
p = re.compile(r'\w+\s(\w{4}\s\w{4})+')
m = p.search(text)
m.group(1)

'very very'

#### Q18. 정규표현식을 작성하여 아래와 같이 출력하세요.

In [37]:
['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [38]:
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile(r'\d+\s\w+')
list = regex.findall(li)
print(list)

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

#### Q19. text에서 h,H 만 출력하세요

In [4]:
text = 'Hello my friend! Life is short you need Python!'

In [40]:
import re
text = 'Hello my friend! Life is short you need Python!'
p = re.compile('(h|H)')
p.findall(text)

['H', 'h', 'h']

#### Q20. text에서 h,H 아닌것만 출력하세요

In [1]:
import re
text = 'Hello my friend! Life is short you need Python!'
p = re.compile('[^h|H]')
q = p.findall(text)
print(q)

['e', 'l', 'l', 'o', ' ', 'm', 'y', ' ', 'f', 'r', 'i', 'e', 'n', 'd', '!', ' ', 'L', 'i', 'f', 'e', ' ', 'i', 's', ' ', 's', 'o', 'r', 't', ' ', 'y', 'o', 'u', ' ', 'n', 'e', 'e', 'd', ' ', 'P', 'y', 't', 'o', 'n', '!']

#### Q21. 'we are going home'에서 home만 출력하세요.

In [13]:
import re
text='we are going home'
p = re.compile(r'(\w{4})$')
m = p.search(text)
m.group(1)

'home'

#### Q22. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

In [12]:
import re
text='199305, 1923A, a93247'
p = re.compile(r'(\d+)+')
m = p.search(text)
m.group(1)

'199305'

#### Q23. '12345abc'에서 'abc'만 출력하세요.

In [2]:
import re
text = '12345abc'
p = re.compile('abc')
p.findall(text)

['abc']

In [5]:
text = '12345abc'
m = re.search('\D+',text)
m.group()

'abc'

In [6]:
text = '12345abc'
m = re.search('\d+',text)
m.group()

'12345'

#### Q24. '12345abc'에서 'a'만 출력하세요.

In [8]:
import re
text = '12345abc'
p = re.compile('a')
q = p.findall(text)
print(q)

['a']

#### Q25. 'abc12345Abc'에서 'A'만 출력하세요.

In [11]:
import re
text = 'abc12345Abc'
p = re.compile('A')
q = p.findall(text)
print(q)

['A']

#### Q26. 'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요

In [2]:
import re
text='Banker'
p = re.compile(r'(\w{5})$')
m = p.search(text)
m.group(1)

'anker'

In [1]:
import re
text='Banker'
p = re.compile(r'[A-Z](\w+)')
m = p.search(text)
m.group(1)

'anker'

In [28]:
import re
text='banker123'
p = re.compile(r'([a-z]+)')
m = p.search(text)
m.group(1)

'banker'

In [29]:
import re
text='banker123'
p = re.compile(r'(\D+)')
m = p.search(text)
m.group(1)

'banker'

#### Q27. 'KOREA 대한민국'에서 '대'만 출력하세요.

In [7]:
import re
text='KOREA 대한민국'
p = re.compile('대')
#p = re.compile('\s(\w)')
q = p.findall(text)
print(q)

['대']

In [7]:
text='KOREA 대한민국'
p = re.search('[가-힣]',text)
p.group()

'대'

#### Q28. text에서 'aaaaBBBcccDDDeee'을 모두 출력하세요.

In [8]:
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
print(len('aaaaBBBcccDDDeee'))

16

In [20]:
import re
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
p = re.compile(r'(\w{16})$')
m = p.search(text)

result = m.group(1)
result[::-1]

'aaaaBBBcccDDDeee'

In [4]:
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
p = re.search( 'a{4}B{3}c{3}D{3}e{3}',text)
p.group()

'aaaaBBBcccDDDeee'

#### Q29. 아래의 경우에서 \<html>만 출력하세요

In [10]:
# Q
import re
pattern = re.compile('<.*?>') #html 태그 지우기
text = '<html><head><title>Title</title></head><body></body></html>'

print(len(text))
p = pattern.search(text)
p.group()

59

'<html>'

#### Q30. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

In [31]:
import re
text = '1234a1234'
p = re.findall('(\d)',text)
p

['1', '2', '3', '4', '1', '2', '3', '4']

#### Q32. text에서 전체문장 모두 출력하세요.

In [41]:
import re
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*')
mo = regex.search(text)
print(mo.group())

what are you doing?

In [1]:
import re
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('\D*')
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

In [2]:
import re
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*',re.DOTALL) # *줄바꿈 제외한 전부 다를 의미 # re.DOTALL 옵션을 주어 줄바꿈 포함 전부다로 선택
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

In [42]:
import re
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.sub(r'\n','',text)
regex

'what are you doing?it is going to be late for schoolwe need to hurry up'

#### Q33. text에서 대소문자 구분없이 전체문장 모두 출력하세요
text = 'Friend fRiend friEnd FRIEND'

In [57]:
text = 'Friend fRiend friEnd FRIEND'

p = re.compile('[a-z\s]+',re.I)
m = p.search(text)
m.group()

'Friend fRiend friEnd FRIEND'

In [24]:
text = 'Friend fRiend friEnd FRIEND'

regex = re.compile('friend',re.I)
mo = regex.findall(text)
for i in mo:
    print(i)

Friend
fRiend
friEnd
FRIEND

text = 'Friend fRiend friEnd FRIEND'

p = re.findall('\w+',text)
for i in range(0,4):
    print(p[i])

#### Q34. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

ctime() 함수는 주어진 timestamp를 현지 시간대 기준으로 소위 미국에서 흔히 사용되는 요 월 일 시:분:초 년 포멧으로 변환해줍니다. 그냥 간단하게 timestamp가 나타내는 날짜와 시간을 확인해보는 용도로 쓰기에 좋습니다.

In [21]:
import time
timestring=time.ctime(1609160537.371015)
timestring

'Mon Dec 28 22:02:17 2020'

In [22]:
from datetime import datetime
import time

t = 1609160537.371015
print(t,type(t))
d = datetime.fromtimestamp(t)
print(d,type(d))

1609160537.371015 <class 'float'>
2020-12-28 22:02:17.371015 <class 'datetime.datetime'>

In [23]:
time = d.strftime('%a %b %d %X %Y')
time

'Mon Dec 28 22:02:17 2020'

In [25]:
time = d.strftime('%a %b %d %H %M %S %Y')
time

'Mon Dec 28 22 02 17 2020'

#### Q35. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [48]:
from datetime import datetime
import time

t = datetime.now()
print(t,type(t))

2022-07-25 14:47:59.472596 <class 'datetime.datetime'>

In [49]:
now = t.strftime('%a %b %d %X %Y')
now

'Mon Jul 25 14:47:59 2022'

#### Q36. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [1]:
from datetime import datetime
import time

t = datetime.now()
print(t,type(t))

2022-07-26 12:28:34.723507 <class 'datetime.datetime'>

In [3]:
now = t.strftime('%Y년 %m월 %d일 %I시 %M분 %S초')
now

'2022년 07월 26일 12시 28분 34초'

#### Q37. 현재 시간을 time.time을 불러와서 년-월-일 시:분:초로 출력하세요.

In [6]:
t = time.time()
print(t,type(t))

1658806826.1874244 <class 'float'>

In [20]:
now = t.strftime('%Y년-%m월-%d일 %I시:%M분:%S초')
now

'2022년-07월-26일 02시:04분:36초'

#### Q38. 올해 경과된 날짜수 계산하세요

In [32]:
now = datetime.now()
since = datetime.strptime('20220101','%Y%m%d')
#print((now-since).days)
print(f"올해 1월 1일부터 {(now-since).days}일 경과되었습니다.")

올해 1월 1일부터 206일 경과되었습니다.

#### Q39. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [17]:
from datetime import datetime
import time

t = datetime.now()
#print(t,type(t))

#print(t.weekday())
datedict = {0:'월요일',1:'화요일',2:'수요일',3:'목요일',4:'금요일',5:'토요일',6:'일요일'}
date = datedict[t.weekday()]

now = t.strftime(f'%Y-%m-%d 오늘은 {date}입니다.')
now

'2022-07-26 오늘은 화요일입니다.'

#### Q40. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.

In [33]:
import time

start = time.time() # 시작 시간 기록

# 프로그램 실행
sum = 0
for i in range(1,1000001):
    sum += i
    pass

end = time.time() # 끝 시간 기록

# 소요 시간
print((end-start)*1000)

110.29195785522461

In [40]:
%%time

start = time.time() # 시작 시간 기록

# 프로그램 실행
sum = 0
for i in range(1,1000001):
    sum += i
    pass

end = time.time() # 끝 시간 기록

# 소요 시간
print(end-start)

0.1246190071105957
CPU times: total: 125 ms
Wall time: 125 ms

#### Q41. 아래 코드를 보완하여 발생 가능한 모든 예외(정수, 인덱스, 미리 파악하지 못한 예외)를 처리한 후 마지막에  '모든 예외처리 완료'를 출력하세요.

```
Q. 
list_num = [52,273,32,72,100]

num_input = int(input('정수 입력> '))
print(f'{num_input}번째 요소: {list_num[num_input-1]}')
```

In [82]:
list_num = [52,273,32,72,100]
try:
    num_input = int(input('정수 입력> '))
    print(f'{num_input}번째 요소: {list_num[num_input-1]}')

except IndexError:
    print("인덱스 오류")
except ValueError:
    print("정수 오류")
except :
    print("미리 파악하지 못한 오류") 
# except Exceptions:
#     print("미리 파악하지 못한 오류")

finally:
    print("모든 예외처리 완료")

정수 입력> 50
인덱스 오류
모든 예외처리 완료

#### Q42. 기본가격 1000원인 2개의 상품에 대하여 임의의 추가 가격을 입력시 가격 조정한 결과를 반환하는 Price 클래스를 생성 후 객체를 만들어 price1, price2를 수행하세요. 
- price1 : 기본가격 + 추가가격
- price2 : (기본가격 + 추가가격) * 90%

In [94]:
class Price:
    def __init__(self):
        self.result = 1000
    def add(self,num):
        self.result += num
        return self.result
    def per(self,num):
        self.result += (num*0.9)
        return self.result

price1 = Price().add
price2 = Price().per

num = int(input("추가 가격은 "))
print(f'price1 가격은 {price1(num)}원')
print(f'price2 가격은 {price2(num)}원')

추가 가격은 1000
price1 가격은 2000원
price2 가격은 1900.0원

In [ ]:
class Price():
    def __init__(self,price1 = 1000):
        self.price1 = price1
    def in_price(self,price2,slae=0):
        self.price2 = price2
        self.sale = salle
    def sum_price(self):
        price = self.price1 + self.price2
        
        if self.sale ==1:
            price = price *0.9

price1 = Price()
price2 = Price()

price1.in_price(100)
price2.in_price(100,1)

print(f'price1 가격은 {price1(num)}원')
print(f'price2 가격은 {price2(num)}원')

#### Q43. strings를 문자의 크기 순서로 내림차순 정렬하세요

In [22]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key=len, reverse=True)

strings

['ababa', 'aaaa', 'bar', 'ca', 'a']

#### Q44. strings를 다양한 문자가 포함된 순서로 정렬하세요

In [38]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x:len(set(x)))
strings[::-1]

['card', 'bar', 'abab', 'foo', 'aaaa']

In [2]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x:len(set(x)),reverse=True)
strings

['card', 'bar', 'foo', 'abab', 'aaaa']

#### Q45. 'abcde' 를 'edcba'로 바꾸어 출력하세요.(5가지 방법)

In [79]:
strings = 'abcde'
print(strings[::-1])

edcba

In [77]:
strings = 'abcde'
strings_list= list(strings)

strings_list.reverse()

reverse = ''.join(strings_list)
print(reverse)

edcba

In [78]:
strings = 'abcde'
reverse = ''.join(reversed(strings))
print(reverse)

edcba

In [65]:
strings = 'abcde'
reverse = ''
for i in strings:
    reverse = i + reverse
    
print(reverse)

edcba

In [96]:
strings = 'abcde'
def reverse(str):
    if str =='': return str
    else:
        return reverse(str[1:]) + str[0]
print(reverse(strings))

edcba

#### Q46. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [23]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
counter = {}

for number in numbers:
    if number in counter:
        counter[number]+=1
    else:
        counter[number]=1
print(counter)

{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

In [1]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic = {}

for i in numbers:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1
print(dic)

{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

#### Q47. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요

In [28]:
# Q.
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list)

list = [i*i for i in range(0,20,2)]
print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

#### Q48. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요

In [5]:
a = int(input("숫자"))
def f(a):
    result = 1
    for item in range(1,a+1,1):
        result = result * item
    return result

print(f(a))

숫자5
120

In [6]:
a = int(input("숫자"))
def f(a):
    result = 1
    for item in range(1,a+1,1):
        result *= item
    return result

print(f(a))

숫자10
3628800

#### Q49. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를 작성하고 1!, 5!, 10!를 구하세요.
factorial(n) = n * factorial(n-1) (n >= 1)

In [9]:
def factorial(n):
    if(n>1):
        return n * factorial(n-1)
    else:
        return 1

factorial(5)

120

In [11]:
def f(n):
    if n ==0 :
        return 1
    return n * factorial(n-1)

f(10)

3628800

In [19]:
def f(n):
    if n ==1 :
        return 1
    return n*f(n-1)

f(10)

3628800

#### Q50. list a의 모든 원소를 실수형으로 바꾸어 출력하세요

In [21]:
a = [1,2,3,4,5]

float_a = []
for i in a:
    float_a.append(float(i))
    
print(float_a)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [13]:
a = [1,2,3,4,5]
a = [float(x) for x in a]
a

[1.0, 2.0, 3.0, 4.0, 5.0]

In [15]:
a = [1,2,3,4,5]
for i,j in enumerate(a):
    a[i] = float(j)
a

[1.0, 2.0, 3.0, 4.0, 5.0]

In [17]:
a = [1,2,3,4,5]
list(map(lambda x:float(x),a))

[1.0, 2.0, 3.0, 4.0, 5.0]

In [18]:
list(map(float,a))

[1.0, 2.0, 3.0, 4.0, 5.0]

#### Q31. [도전과제] 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.

In [ ]:
# Q. 
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [12]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip() # 양쪽 공백 제거
        value = re.sub('[!#?]','',value) # 특수문자 제거
        value = value.title() # 첫글자만 대문자로 변경
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

#### Q51. 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램

In [ ]:
입력 : 총건수(m), 한페이지에 보여줄 게시물수(n) (단 n은 1보다 크거나 같다. n >= 1)
출력 : 총페이지수

In [10]:
m = int(input("총 건수를 입력하세요: "))
n = int(input("한 페이지에 보여줄 게시물 수를 입력하세요: "))

pages = m//n if m % n == 0 else m // n + 1

print(pages)

총 건수를 입력하세요:  4
한 페이지에 보여줄 게시물 수를 입력하세요:  3

2

#### Q52. 랜덤하게 1000명의 이름, 키와 몸무게 만들어 저장한 후 다시 불러내어 다음과 같이 출력하세요.

- 이름 :라바
- 몸무게: 80
- 키: 146
- BMI: 37.53049352598987
- 결과: 과체중

In [1]:
import random

randomlist = list("가나다라마바사아자차카타파하")

with open("info.txt","w") as file:
    for i in range(1000):
        name = random.choice(randomlist) + random.choice(randomlist)
        weight = random.randrange(40,100)
        height = random.randrange(140,200)
        
        file.write("{},{},{}\n".format(name,weight,height))

In [2]:
with open("info.txt","r")as file:
    for line in file:
        (name,weight,height) = line.strip().split(",")
        
        if (not name) or (not weight) or (not height):
            continue
            
        bmi = int(weight) / (int(height) * int(height))
        result = ""
        
        if bmi <=18.5:
            result = "저체중"
        elif bmi <= 22.9:
            result = "정상 체중"
        elif bmi <= 24.9:
            result = "과체중"
        else:
            result = "비만"
            
        # print('\n'.join([
        #     "이름: {}",
        #     "몸무게: {}",
        #     "키: {}",
        #     "BMI: {}",
        #     "결과: {}"
        # ]).format(name,weight,height,bmi,result))
        # print()

#### Q.53 입력한 숫자를 천 단위로 구분하여 출력하세요(,)

In [7]:
a = int(input("숫자를 입력하세요 "))
print("{:,}".format(a))

숫자를 입력하세요 2472578257
2,472,578,257

#### Q.54. 카운터에서 거스름돈으로 사용할 500원,100원,50원,10원짜리 동전이 무한히 존재한다고 가정한다. 손님에게 거슬러 줘야할 돈이 N원일 때, 거슬러 줘야할 동전의 최소 개수를 구하세요. 단, 거슬러 줘야 할 돈 N은 항상 10의 배수이다. N은 2750원이다.

In [9]:
n = 2750

count=0

coin_types = [500,100,50,10]

for coin in coin_types:
    count += n // coin # 동전긔 개수
    n %= coin  # 나머지 반환            # n -= coin *(n//coin)
print(count)

8

In [1]:
n = 2750
count = 0

# 큰 단위의 화폐부터 차례대로 확인하기
coin_types = [500, 100, 50, 10]

for coin in coin_types:
    count += n // coin # 해당 화폐로 거슬러 줄 수 있는 동전의 개수 세기
    n %= coin

print(count)

8

#### Q55. mydata.txt 파일에 있는 단어 개수를 출력하세요.

In [1]:
with open('mydata.txt','r') as f:
    data = f.read()
    tmp = data.split()
    print(len(tmp))

213

In [5]:
def fileopen(data):
    with open(data,'r',encoding='UTF8') as file:
        text = file.read()
        splitdata = text.split()
    return splitdata, len(splitdata)

def count_character(data):
    count = 0
    for i in data:
        count += len(i)
    return count

data,count = fileopen("mydata.txt")
print(count)

213

In [6]:
from collections import Counter
 
f = open("mydata.txt", encoding = "utf-8") 
# 파일 불러오기
# encoding = "utf-8"은 불러온 파일의 한글이 깨지지 않게 함
 
count = Counter(f.read().split()) # 파일을 불러와 단어 단위로 split(자른) 수를 세어 count 변수에 저장
print("단어 출력 횟수 : ", count) # 출력

단어 출력 횟수 :  Counter({'the': 8, 'a': 6, 'on': 6, 'and': 6, 'to': 5, 'of': 4, 'so': 4, 'in': 4, 'our': 3, 'late': 3, 'you': 3, 'up': 3, "it's": 3, 'his': 3, 'with': 2, 'be': 2, 'if': 2, 'all': 2, 'earth': 2, 'stand': 2, 'for': 2, 'human': 2, 'rights': 2, 'push': 2, 'back': 2, 'this': 2, 'pest': 2, 'hate': 2, 'raise': 2, 'voice': 2, 'pass': 2, 'light': 2, 'unite!': 2, 'not': 2, 'too': 2, 'how': 2, 'many': 2, 'lot': 1, 'things': 1, 'occur': 1, 'each': 1, 'day': 1, "we've": 1, 'got': 1, 'live': 1, 'way': 1, "there's": 1, 'much': 1, 'misery': 1, 'screen': 1, 'commercials': 1, 'between': 1, 'russians': 1, "won't": 1, 'uncle': 1, 'sam': 1, "don't": 1, 'want': 1, 'wait': 1, 'no': 1, 'matter': 1, "you're": 1, 'black': 1, 'or': 1, 'white': 1, 'never': 1, 'ever': 1, 'had': 1, 'right': 1, 'look': 1, 'eternal': 1, 'skies': 1, 'see': 1, 'warfare': 1, 'even': 1, 'there': 1, 'what': 1, 'once': 1, 'has': 1, 'been': 1, 'paradise': 1, 'now': 1, 'destruction': 1, 'despair': 1, 'other': 1, 'worlds': 1, 'children': 1, 'die': 1, 'lacking': 1, 'food': 1, 'ill': 1, 'from': 1, 'fly': 1, 'oppressed': 1, 'by': 1, 'troops': 1, 'tame': 1, 'their': 1, 'land': 1, 'same': 1, 'again': 1, 'any': 1, 'man': 1, 'is': 1, 'free': 1, 'then': 1, 'tormentors': 1, 'steal': 1, 'birth': 1, 'they': 1, 'slam': 1, 'gun': 1, 'butts': 1, 'face': 1, 'leave': 1, 'woman': 1, 'choked': 1, 'mace': 1, 'tears': 1, 'flow': 1, 'away': 1, 'become': 1, 'sea': 1, 'fears': 1, 'hearts': 1, 'are': 1, 'torn': 1, 'apart': 1, 'till': 1, 'another': 1, 'torment': 1, 'starts': 1, 'but': 1, 'before': 1, 'world': 1, 'turns': 1, 'into': 1, 'sun': 1, 'cruelty': 1, 'violence': 1, 'will': 1, 'dead': 1, 'gone': 1})

#### Q56.
파일이름과 특정 단어을 인자로 입력하면 그 파일에 있는 특정 단어의 개수를 반환하는 사용자 함수를 이용하여 mydata 파일에서 how의 개수를 출력하세요.

In [18]:
def findTextCountInText(fname,word):
  count = 0
  with open("mydata.txt", "r",encoding = "utf-8") as f:
      for line in f:
        if word in line:
          count = count + 1
  return count

In [20]:
print(findTextCountInText("mydata.text","how"))

2

In [2]:
def countWord(filename, word):
    with open(filename, 'r') as f:
        text = f.read()
        text = text.lower() # 대,소문자 모두 찾기위해 소문자로 변경하여 나오게!
        pos = text.find(word)
        count = 0
        while pos != -1: # 없을 때까지 하나씩 카운트
            count += 1
            pos = text.find(word, pos+1)
    return count

filename = input('filename을 입력하세요: ')
word = input('filename에서 개수를 구할 단어를 입력하세요: ').lower() # 대,소문자 모두 찾기위해 소문자로 변경하여 나오게!
ret = countWord(filename, word)
print(f'{word}의 개수: {ret}')

filename을 입력하세요: mydata.txt
filename에서 개수를 구할 단어를 입력하세요: how
how의 개수: 2

#### Q57.
문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하세요.
- 예) "aaabbcccccca" -> a3b2c6a1

In [2]:
a = input("아무말: ")

result = a[0] # 반복문 실행되는 동안 문자열 형태로 반환되는 결과들을 담을 변수
count = 0 # 반복되서 나오는 문자 수만큼 카운팅되는 값을 담을 변수

for text in a:
    if text == result[-1]: #result변수 마지막 문자와 비교합니다. else에서 result변수에 값이 추가되기 때문에 마지막 문자[-1]와 비교.
        count += 1
    else:
        result += str(count) +text # 마지막 글자와 i가 다를 경우 카운팅된 값을 문자열 형태로 result 변수 마지막에 추가 해주고 i를 마지막 문자로 추가합니다.
        count = 1
result += str(count) # 결과들이 담긴 변수에 마지막으로 카운팅된 값을 문자열 형태로 추가합니다.

print(result)

아무말: aaabbcccccca
a3b2c6a1

#### Q62.
N개의 요소로 이루어진 배열이 있을 때 주어진 수들을 M번 더하여 가장 큰 수를 만드는 프로그램을 작성하세요. 단 배열의 특정한 인덱스(번호)에 해당하는 수가 연속해서 K번을 초과하여 더해질 수 없는 것이 특징이다.
프로그램은 다음 조건을 만족하는 N, M, K를 공백으로 일차 입력하고 N개의 배열을 공백으로 이차 입력하면 결과물을 출력하는 방식으로 수행함.
- 2 <= N <= 1000
- 1 <= M <= 10000
- 1 <= K <= 10000

In [1]:
while True:
    ip = input('N M K(왼쪽과 같은 형식으로 숫자를 입력하세요.)').split(' ')
    N = int(ip[0])
    M = int(ip[1])
    K = int(ip[2])
    result = 0
    print(N,M,K)
    
    if (2 <= N <=1000) & (1 <= M <= 10000) & (1 <= K <= 10000):
        pass
    else:
        print('''
        아래의 조건에 맞게 입력해주세요.
        2 <= N <= 1000
        1 <= M <= 10000
        1 <= K <= 10000
        ''')
        continue
        
    Ni = list(map(int, input('n n n n n(왼쪽과 같은 형식으로 배열을 입력하세요.)').split(' ')))
    if N != len(Ni):
        print('배열의 갯수가 다릅니다 다시 입력해 주세요')
        continue
    else:
        if M <= K:
            result = max(Ni)*M
        else:
            for i in range(1,M+1):
                if i % K == 0:
                    result += max(Ni)
                    Ni.remove(max(Ni))
                else:
                    result += max(Ni)
    print(result)
    break

N M K(왼쪽과 같은 형식으로 숫자를 입력하세요.) 254

IndexError: list index out of range

1. input('배열 요소로 이루어진 개수' '가장 큰 수가 되게 요소들을 총 M번 더하도록 함' '대신 한 요소당 k번이 최대로 더할 수 있음' )
2. input(배열 요소 입력)
3. 제일 큰 수를 더할 수 있는 제한이 k번

In [2]:
#함수 지정: for문, if문 포함
def array_max(n,m,k, arr):
    total = 0
    while True:
        for i in range(k):
            arr_max = arr.max()    #제일 큰 수를 찾아서 k번 더하기
            total += arr_max       
        idx = np.where(arr==arr_max)  #제일 큰 수의 배열 속 인덱스 찾기
        arr = np.delete(arr,idx)      #제일 큰 수 삭제
        m -= k                #남아있는 덧셈 횟수 조정
    
        if m < k:             #남아있는 덧셈 횟수가 최대 덧셈횟수보다 작은 경우
            for i in range(m):
                arr_max = arr.max()
                total += arr_max     #제일 큰 수를 남아있는 횟수 만큼 더하기
            break                  #그럼 끝
    return f'요소당 최대 덧셈 횟수가 {k}번, 총 덧셈 횟수가 {m}번 일 때, 주어진 배열을 가지고 만들 수 있는 최대값은 {total}입니다.'

In [3]:
#함수 지정: for문, if문 포함2
def array_max(n,m,k, arr):
    total = 0
    x,y = divmod(m,k)
    for i in range(x):
        arr_max = arr.max()    #제일 큰 수를 찾아서 k번 더하기
        total += arr_max*k       
        idx = np.where(arr==arr_max)  #제일 큰 수의 배열 속 인덱스 찾기
        arr = np.delete(arr,idx)      #제일 큰 수 삭제
        
        if i == x-1: 
            arr_max = arr.max()
            total += arr_max*y    #제일 큰 수를 남아있는 횟수 만큼 더하기

    return f'요소당 최대 덧셈 횟수가 {k}번, 총 덧셈 횟수가 {m}번 일 때, 주어진 배열을 가지고 만들 수 있는 최대값은 {total}입니다.'

In [4]:
#함수 지정: for문, if문 미포함

def array_max(n,m,k,arr):
    arr = sorted(arr, reverse = True)
    x, y = divmod(m,k)
    
    if y == 0:
        total = total = sum(arr[:x])*k
    else:
        total = sum(arr[:x])*k + arr[x]*y
    
    return f'요소당 최대 덧셈 횟수가 {k}번, 총 덧셈 횟수가 {m}번 일 때, 주어진 배열을 가지고 만들 수 있는 최대값은 {total}입니다.'

In [5]:
import numpy as np

#함수 인자값을 제대로 받을 때까지 돌리자
while True:     
    x = input('>> 배열 요소의 수, 덧셈할 횟수, 최대 덧셈이 가능한 횟수를 공백으로 분리하여 입력하세요.\n')
    n = int(x.split(' ')[0])
    m = int(x.split(' ')[1])
    k = int(x.split(' ')[2])
    
    if n <= m//k and m % k >= 1:       
        print(f'※경고: 배열 요소의 수를 {m//k+1} 이상의 값으로 입력해주세요')      
        continue
    else:
        break
        
        
#배열 요소값을 제대로 받을 때까지 돌리자
while True:     
    y = input('>> 배열의 요소를 공백으로 분리하여 입력하세요.\n')
    arr = np.array([int(i) for i in y.split(' ')])

    
    if len(arr) != n:    #배열 요소의 개수가 입력값과 다른 경우
        print(f'※경고: 배열 요소의 수를 {n}개가 되도록 입력해주세요')
        continue    
    
    #배열 요소의 개수가 입력값과 같은 경우 
    elif len(set(arr)) == m//k and m%k > 0:   #고유 요소 개수가 총 덧셈 횟수를 최대 덧셈 횟수로 나눴을 때와 같은 경우
            print(f'※경고: 고유한 요소가 {m//k+1}개 이상 되도록 입력해주세요.')
            continue
    elif len(set(arr)) < m//k:  #고유 요소 개수가 총 덧셈 횟수를 최대 덧셈 횟수로 나눴을 때보다 작은 경우
        if m%k >= 1: 
            print(f'※경고: 고유한 요소가 {m//k+1}개 이상 되도록 입력해주세요.')
            continue
        elif m%k == 0: 
            print(f'※경고: 고유한 요소가 {m//k}개 이상 되도록 입력해주세요.')
            continue
    else:
        break

array_max(n,m,k,arr)

>> 배열 요소의 수, 덧셈할 횟수, 최대 덧셈이 가능한 횟수를 공백으로 분리하여 입력하세요.
 2 10 5
>> 배열의 요소를 공백으로 분리하여 입력하세요.
 1 2

'요소당 최대 덧셈 횟수가 5번, 총 덧셈 횟수가 10번 일 때, 주어진 배열을 가지고 만들 수 있는 최대값은 15입니다.'

Q61. file1, 2의 파일 크기를 각각 구하세요.
file1 = 'data/stockcode.txt'
file2 = 'data/img_sample.jpg'

In [8]:
import os


try:
  n = os.path.getsize("stockcode.txt")
  print(n, "Bytes")                           # 바이트 단위로 구하기
  print(n / 1024, "KB")                       # 킬로바이트 단위로
  print("%.2f MB" % (n / (1024.0 * 1024.0)))  # 메가바이트 단위로
except os.error:
  print("파일이 없거나 에러입니다.")

15414 Bytes
15.052734375 KB
0.01 MB

In [10]:
import os


try:
  n = os.path.getsize("img_sample.jpg")
  print(n, "Bytes")                           # 바이트 단위로 구하기
  print(n / 1024, "KB")                       # 킬로바이트 단위로
  print("%.2f MB" % (n / (1024.0 * 1024.0)))  # 메가바이트 단위로
except os.error:
  print("파일이 없거나 에러입니다.")

856738 Bytes
836.658203125 KB
0.82 MB

In [13]:
import os

print(os.stat('stockcode.txt').st_size, os.stat('img_sample.jpg').st_size)

with open('stockcode.txt','r') as f:
    f.seek(0, 2)
    at = f.tell()
with open('img_sample.jpg','r') as f:
    f.seek(0, 2)
    bt = f.tell()
print(at , bt)

print(os.path.getsize('stockcode.txt'), os.path.getsize('img_sample.jpg'))

290 856738
290 856738
290 856738

Q62.
stockcode.txt의 105바이트 위치에서 500바이트를 읽어 그 내용은 stock_part.txt에 저장 한 후 출력하세요.

In [ ]:
i, j = divmod(M,K)
total_sum = sum(array_b[:i]) * 3 + array_b[i] * j

In [14]:
import os

with open('stockcode.txt','rb') as f:
    f.seek(105,0) # 105바이트 위치로 이동
    body = f.read(500) # 500바이트 읽기

with open('stock_part.txt', 'wb') as f:
    f.write(body)

with open('stock_part.txt', 'r') as f:
    print(f.read())

os.path.getsize('stock_part.txt')

소재
000320 디피아이홀딩스
000321 디피아이홀딩스우
000322 디피아이홀딩스2B
000360 삼환기업
000361 삼환기업우
000370 한화손해보험
000390 삼화페인트
000400 롯데손해보험
000420 로

185

#### Q63.
네이버 검색에서 관심 주제와 기사 수를 입력하면 그만큼 출력하는 크롤링 프로그램을 작성하여 다음 사항을 수행하세요.

기사 제목과 링크를 데이터프레임으로 가져온 후 본문 내용에서 한글 단어만 출력하여 형태소 분석
최근 국내 'AI'와 관련하여 가장 많이 언급되는 단어에 대한 빈도분석 및 시각화
AI 분야에서의 유의할 만한 트랜드 정보 및 인사이트 도출

In [ ]:
#불용어처리 - 빈도분석 - 시각화 - 워드클라우드

#### Q.64
어떠한 수 N이 1이 될 때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행하려고 한다. 단 두번째 연산은 N이 K로 나누어 떨어질 때만 선택할 수 있다.  N과 K를 입력했을 때 N이 1이 될 때까지 1번 혹은 2번의 과정을 수행해야 하는 최소 횟수를 구하는 프로그램을 완성하세요.

1. N에서 1을 뺀다.
2. N을 K로 나눈다.

In [2]:
n, k = map(int,input().split())
count = 0

while True:
    if n == 1:
        break
    if n % k == 0:
        n //= k
        count += 1
    else:
        n -= 1
        count += 1

print(count)

17 4
3

#### Q65. 아래와 같이 출력하는 코드를 작성하세요.

In [ ]:
*
**
***
****
*****

In [1]:
for i in range(5):        # 0부터 4까지 5번 반복. 세로 방향
    for j in range(5):    # 0부터 4까지 5번 반복. 가로 방향
        if j <= i:                # 세로 방향 변수 i만큼
            print('*', end='')    # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()    # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감

*
**
***
****
*****

#### Q66. 아래와 같이 출력하는 코드를 작성하세요.

In [ ]:
     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [3]:
# while문으로 짜기
star = int(input('마름모 별 최대 개수 : '))
i = 1 if star % 2 == 1 else 2

while i < star:
    print('{0}{1}'.format(' '*((star-i)//2), '*'*i))
    i += 2
while i > 0:
    print('{0}{1}'.format(' '*((star-i)//2), '*'*i))
    i -= 2

마름모 별 최대 개수 :  9

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [11]:
# for문으로 짜기
star = int(input('마름모 별 최대 개수 : '))
i = 1 if star % 2 == 1 else 2

for i in range(i, star+1, 2):
    print('{0}{1}{0}'.format(' '*((star-i)//2), '*'*i))
for i in range(i-2, 0, -2):
    print('{0}{1}{0}'.format(' '*((star-i)//2), '*'*i))

마름모 별 최대 개수 :  9

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
# 다이아몬드 구성 확인
# 피라미드
공백은 1칸씩 줄고, 별은 2개씩 늘어나는 형태
i번째 줄(0부터 시작)에서 공백은 5 - i칸, 별은 2 * i + 1개
# 역 피라미드
공백은 1칸씩 증가, 별은 2개씩 감소
i번째 줄(0부터 시작) 입장에서 살펴보면 공백은 i칸, 별은 11 - 2 * i개

In [5]:
for i in range(6): # 정방향
    print(' ' * (5 - i) + '*' * (i * 2 + 1))
for i in range(6): # 역방향
    print(' ' * i + '*' * (11 - (2 * i)))

     *
    ***
   *****
  *******
 *********
***********
***********
 *********
  *******
   *****
    ***
     *

#### Q67. Tree의 높이와 밑동의 높이를 입력하면 해당하는 높이의 아래와 같은 모양을Tree를 출력하는 프로그램을 작성하세요.

In [ ]:
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
        ***
        ***
        ***

In [4]:
star = int(input('tree 높이 : '))

for i in range(star): # 삼각형
    print(' ' * (star- i) + '*' * (i * 2 + 1))
for i in range(3):    
    print(' ' * (star-1) + '*' * 3 )

tree 높이 :  10

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
         ***
         ***
         ***

#### Q.68. 구구단을 출력하는 프로그램을 출력하세요.

In [7]:
x = int(input("숫자를 입력하세요:"))

for i in range(1,10):
    result = x * i
    print(x, "X", i, "=", result)

숫자를 입력하세요: 3

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

#### Q69.
아래와 같이 입력하면 N X M 행렬 형태의 숫자 카드 중에서 먼저 뽑고자 하는 카드가 포함되어 있는 행을 선택한 후 그 행에서 가장 숫자가 낮은 카드를 뽑아야 하는 규칙하에서 가장 높은 숫자가 쓰인 카드 한장의 숫자를 출력한는 프로그램을 작성하세요. 
- 첫번째 입력 : N X M 형열에 대하여 N(행), M(열)의 개수를 공백을 기준으로 입력(1<= N, M<=100)
- 두번째 입력 : 각 행의 숫자를 공백을 기준으로 입력. 단, 각 숫자는 1 이상 10000 이하의 자연수임.

In [ ]:
<입력 예시 1>
3 3
3 1 2
4 1 4
2 2 2
<출력 예시 1>
2

<입력 예시 2>
2 4
7 3 1 8
3 3 3 4
<출력 예시 2>
3

In [2]:
import numpy as np
arr = input('행과 열을 입력해주세요.')
ar = input('숫자를 입력해주세요.')
N = int(arr.split(' ')[0])
M = int(arr.split(' ')[1])
ar2 = list(ar.split(' '))
ar2
# num_list = (5 4 65 5 9 18 85 24 15 8 7 2 9 4 5)
arr1 = np.array([int(x) for x in ar2]).reshape(N,M)
arr1

li =[]
for i in range(0,len(arr1)):
    arr = sorted(arr1[i])[0]
    li.append(arr)
    
print(arr1)
li2 = sorted(li, reverse = True)
print(li2[0])

행과 열을 입력해주세요.3 5
숫자를 입력해주세요.1

ValueError: cannot reshape array of size 1 into shape (3,5)

#### Q70.
Q69는 min max 함수, 정렬 등의 방법으로 문제를 풀었다. 이 문제를 다중 for문을 사용하여 풀어보세요.

In [ ]:
n, m = map(int, input().split())
result = 0

for i in range(n) :
  x = list(map(int, input().split()))
  search = 10001
  for j in x :
    search = min(search, j)
  result = max(result, search)

print(result)

In [ ]:
# N, M을 공백으로 구분하여 입력받기
n, m = map(int, input().split())
result = 0

# 한 줄씩 입력받아 확인
for i in range(n) :
  data = list(map(int, input().split()))
  # 현재 줄에서 '가장 작은 수' 찾기
  min_value = min(data)
  # '가장 작은 수'들 중에서 가장 큰 수 찾기
  result = max(result, min_value)

print(result)

In [ ]:
n,m = map(int,input().split())

result = 0
for i in range(n):
    data = list(map(int,input().split()))
    min_value = 10001
    for a in data:
        min_value = min(min_value, a)
    result = max(result,min_value)
print(result)

#### Q71.
여행가 A는 N X N 크기의 정사각형 공간에 서 있다. A는 6개의 이동 명령 계획에 따라 움직이게 된다. 이동 명령은 L(왼쪽), R(오른쪽), U(윗쪽), D(아랫쪽)로 구성되며 R R R U D D와 같이 6개이다. 정사각형 공간을 벗어나는 움직임은 무시된다. 언급한 규칙에 따라 N과 이동 명령 계획으로 각각 5와 R R R U D D를 입력하면 A의 공간 좌표는 3 4가 된다. 이동 명력 계획서가 주어질 때 A가 최종적으로 도착할 지점의 좌표를 출력하는 프로그램을 작성하시오.

In [ ]:
첫째 줄에 공간의 크기를 나타내는 N이 주어진다. (1 ≤ N ≤ 100)
둘째 줄에 여행가 A가 이동할 계획서 내용이 주어진다. (1 ≤ 이동횟수 ≤ 100)

In [ ]:
(1,1)(1,2)(1,3)(1,4)
                (2,4)
                (3,4)

In [4]:
N = int(input())
x, y = 1, 1
plans = input().split()

dx = [0, 0, -1, 1]
dy = [-1, 1, 0, 0]
direction = ['L', 'R', 'U', 'D']

for plan in plans:
    # 이동 후 좌표 구하기
    for i in range(len(direction)):
        if plan == direction[i]:
            nowx = x + dx[i]
            nowy = y + dy[i]
    # 이동 후 좌표가 지도 범위를 벗어나면 무시
    if nowx < 1 or nowy <1 or nowx > N or nowy > N:
        continue
    # 벗어나지 않으면 이동
    x, y = nowx, nowy

print(x, y)

5
R R R U D D
3 4

#### Q72.
정수 N이 입력되면 00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 구하는 프로그램을 작성하시오.(0<= N <=23)

In [ ]:
00시 02분 03초
00시 27분 45초

In [ ]:
7을 입력하면 14625

In [ ]:
시, 분, 초를 완전 탐색할 경우, 86,400(24 X 60 X 60)가지만 존재합니다.
따라서, 3중 반복문을 사용해 모든 시각을 완전 탐색하며,
각 시각을 문자열로 변환해 하나의 문자열로 만든 뒤, 해당 문자열에 ‘3’ 이 포함되어 있는지 확인합니다.

In [2]:
n = int(input())

answer = 0
for i in range(n+1):
    for j in range(60):
        for k in range(60):
            # 매 시각 안에 '3' 이 포함되어 있다면 카운트 증가
            if '3' in str(i)+str(j)+str(k):
                answer += 1

print(answer)

1
3150

In [1]:
N = int(input('정수 N > '))

sum = 0
num = ''
for i in range(N+1):
    si = str(i)
    for j in range(60):
        bun = str(j)
        for k in range(60):
            cho = str(k) 
            num = si+bun+cho
            
            if '3' in num:
                sum += 1
            else:
                pass
print(sum)

정수 N >  1

3150

#### Q73. 행 위치는 1~8로 열 위치는 a ~ h로 표현하는 8 x 8 좌표 평면상에서 특정 위치가 주어졌을 때 아래 조건하에서 그 위치에서 이동할 수 있는 경우의 수를 출력하는 프로그램을 작성하세요.

In [ ]:
- 수평으로 두 칸 이동한 뒤에 수직으로 한 칸 이동
- 수직으로 두 칸 이동한 뒤에 수평으로 한 칸 이동
- 8 x 8 좌표 평면을 나갈 수 없음

In [2]:
#특정 위치 입력받기
input_data = input()
row = int(input_data[1]) #행은 1~8
col = ord(input_data[0]) +1 - ord('a')
#ord는 문자의 아스키코드 값을 알려준다. a=97

#이동할 수 있는 8가지 방향을 정의하기
#복잡하게 생각하지 말고 2칸 1칸 +, - 조합으로 모든 경우의 수를 적어주면 된다.
steps = [(-2,-1),(-1,-2),(1,-2),(2,-1),(2,1),(1,2),(-1,2),(-2,1)]

#8가지 방향에 대하여 각 위치로 이동이 가능한지 체크
result=0
for step in steps :
    #이동하고자 하는 위치 확인
    next_row = row + step[0] #실수하지 말기!! steps의 요소가 step에 있음!
    next_col = col + step[1]

    #해당 위치로 이동이 가능하다면 카운트 증가
    if next_row>=1 and next_row<=8 and next_col>=1 and next_col<=8 :
        result=result+1

print(result)

 a4

4

In [3]:
n = input()
a = [int(ord(n[0]))-96,int(n[1])]

answer = 0
move = [[2, 1], [2, -1], [1, 2], [1, -2], [-1, 2], [-1, -2], [-2, -1], [-2, -2]]
for i in move:
    if i[0] + a[0] > 0 and i[1] + a[1] > 0:
        answer += 1
print(answer)

 a4

4

#### Q74.
캐릭터는 매뉴얼에 따라 이동한다. 아래 입력조건에 따라 캐릭터가 방문한 칸의 수를 출력하는 프로그램을 작성하세요.

- 입력조건
  - 첫째 줄에 맵의 세로 크기 N과 가로 크기 M을 공백으로 구분하여 입력 (3 <= N,M <=50)
  - 둘째 줄에 게임 캐릭터가 있는 칸의 좌표 (A,B)와 바라보는 방향 d가 각각 서로 공백으로 구분하여 입력(방향 d의 값으로는 북, 동, 남, 서가 각각 0,1,2,3)
  - 세째 줄에 맵이 육지인지 바다인지에 대한 정보 입력(육지 0, 바다 1) N개의 줄에 맵의 상태가 북쪽으로 부터 남쪽순서대로 각 줄의 데이터는 서쪽부터 동쪽 순서대로 주어진다.
  - 처음에 캐릭터가 위치한 칸의 상태는 항상 육지이다.


- 매뉴얼<BR>
  캐릭터가 있는 장소는 1 X 1 크기의 정사각형으로 이루어진 N X M 크기의 직사각형으로 각각의 칸은 육지 또는 바다이다.캐릭터는 동서남북 중 한 곳을 바라본다. 맵의 각 칸은 (A, B)로 나타낼 수 있고 A는 북쪽으로부터 떨어진 칸의 개수, B는 서쪽으로부터 떨어진 칸의 개수이다.캐릭터는 상하좌우로 움직일 수 있고 바다로 되어 있는 공간에는 갈 수 없다. 캐릭터의 움직임 설정을 위한 매뉴얼은 아래와 같다.
  - 현재 위치에서 현재 방향을 기준으로 왼쪽 방향부터 차례대로 갈 곳을 정한다.
  - 캐릭터의 바로 왼쪽 방향에 아직 가보지 않은 칸이 존재한다면 왼쪽 방향으로 회전한 다음 왼쪽으로 한 칸을 전진한다. 왼쪽 방향에 가보지 않은 칸이 없다면 왼쪽 방향으로 회전만 수행하고 1단계로 돌아간다.
  - 만약 네 방향 모두 이미 가본 칸이거나 바다로 되어 있는 칸인 경우에는 바라보는 방향을 유지한 채로 한 칸 뒤로 가고 1단계로 돌아간다. 단, 이때 뒤쪽 방향이 바다인 칸이라 뒤로 갈수 없는 경우에는 움직임을 멈춘다.

In [ ]:
2차원 배열로 값을 받은 변수에 
 
1. 앞으로 갈 좌표
2. 현재 좌표

두 가지의 좌표 정보를 가진 변수를 가지고 앞으로 갈 좌표의 값이 1인지 아닌지 파악하며 0 1 2 3 (방향)을 돌리다가
돌린 횟수가 4 가되면 해당 값의 뒤 (해당 배열 index의 -2 값)으로 현재 좌표를 보내주면 된다.
그리고 현재 좌표가 1(바다) 이면 break 해서 프로그램 종료

In [ ]:
4 4       # 4 x 4 맵 생성
1 1 0     # (1, 1)에 북쪽(0)을 바라보고 서 있는 캐릭터
1 1 1 1   # 첫 줄은 모두 바다
1 0 0 1   # 둘째 줄은 바다/육지/육지/바다
1 1 0 1   # 셋째 줄은 바다/바다/육지/바다
1 1 1 1   # 넷째 줄은 모두 바다

In [2]:
n, m = map(int, input().split())
a, b, d = map(int, input().split())

input_map = []

for i in range(n):
  input_map.append(list(map(int, input().split())))

move_steps = [(-1, 0), (0, -1), (1, 0), (0, 1)]

result = 1
count = 0
input_map[a][b] = 2

while True:
  d = d - 1
  if d == -1:
    d = 3
  next_a = a + move_steps[d][0]
  next_b = b + move_steps[d][1]
  if input_map[next_a][next_b] == 0:
    a = next_a
    b = next_b
    result += 1
    input_map[a][b] = 2
    count = 0

  else:
    count += 1
    if count == 4:
      next_a = a + move_steps[d-2][0]
      next_b = b + move_steps[d-2][1]
      if input_map[next_a][next_b] == 1:
        break
      else:
        a = next_a
        b = next_b
        count = 0

print(result)

 4 4
 1 1 0
 1 1 1 1
 1 0 0 1
 1 1 0 1
 1 1 1 1

3

#### Q.75
N X M 크기의 얼음 틀로 한번에 만들 수 있는 아이스크림의 개수를 아래 입력조건에 따라 출력하는 프로그램을 DFS(Depth First Search)를 이용하여 작성하세요.
 
- 입력조건
  - 첫번째 줄에 얼음 틀의 세로 길이 N과 가로 길이 M이 주어진다.(1 <= N,M <= 1000)
  - 두번째 줄부터 N+1번째 줄까지 얼음 틀의 형태가 주어진다.
  - 이때 구멍이 뚫려있는 부분은 0 그렇지 않은 부분은 1이다.
  - 구멍이 뚫려 있는 부분끼리 상, 하, 좌, 우로 붙어 있는 경우 서로 연결되어 있는 것으로 간주한다.

In [3]:
# 스택: 박스 쌓기에 비유. 선입후출 구조

stack = []
stack.append(5)
stack.append(2)
stack.append(3)
stack.append(7)
stack.pop()
stack.append(1)
stack.append(4)
stack.pop()

print(stack)
print(stack[::-1])

[5, 2, 3, 1]
[1, 3, 2, 5]

In [8]:
# 큐 : 먼저 온 사람이 먼저 들어간다. 선입선출 구조
from collections import deque
queue = deque()

queue.append(5)
queue.append(2)
queue.append(3)
queue.append(7)
queue.popleft()
queue.append(1)
queue.append(4)
queue.popleft()

print(queue)
queue.reverse()
print(queue)

deque([3, 7, 1, 4])
deque([4, 1, 7, 3])

In [ ]:
5 5
00110
00011
11111
00111
11000

<작성 순서>
1. 특정한 지점의 주변 상, 하, 좌, 우를 살펴본 뒤에 주변 지점 중에서 값이 0이면서 아직 방문하지 않은 지점이 있다면 해당 지점을 방문한다
2. 방문한 지점에서 다시 상, 하, 좌, 우를 살펴보면서 방문을 다시 진행하면, 연결된 모든 지점을 방문할 수 있다
3. 1, 2번의 과정을 모든 노드에 반복하며 방문하지 않은 지점의 수를 센다

In [2]:
#n, m을 공백으로 구분하여 입력받기
n, m = map(int, input().split())

#2차원 리스트의 맵 정보 입력받기
graph=[]
for i in range(n):
    graph.append(list(map(int, input().split())))

#DFS로 특정한 노드를 방문한 뒤에 연결된 모든 노드들도 방문
def dfs(x,y):
    #주어진 범위를 벗어나는 경우에는 즉시 종료
    if x <= -1 or x >= n or y <= -1 or y >= m:
        return False

    #현재 노드를 아직 방문하지 않았다면
    if graph[x][y]==0:
        #해당 노드 방문 처리
        graph[x][y]=1
        #상, 하, 좌, 우의 위치도 모두 재귀적으로 호출
        dfs(x-1, y) #상
        dfs(x+1, y) #하
        dfs(x, y-1) #좌
        dfs(x, y+1) #우
        return True
    return False

#모든 노드(위치)에 대하여 아이스크림 채우기
result=0
for i in range(n):
    for j in range(m):
        #현재 위치에서 dfs 수행
        if dfs(i,j) == True:
            # print(i,j)
            result += 1

print(result)

3 3
0 0 1
0 1 0
1 0 1 0012213
3

In [2]:
def recursive_function(i):
    if i == 5:
        return
    print(i, '번째 재귀함수에서', i+1, '번째 재귀함수를 호출합니다.')
    recursive_function(i+1)
    print(i, '번째 재귀함수를 호출합니다.')
recursive_function(1)

1 번째 재귀함수에서 2 번째 재귀함수를 호출합니다.
2 번째 재귀함수에서 3 번째 재귀함수를 호출합니다.
3 번째 재귀함수에서 4 번째 재귀함수를 호출합니다.
4 번째 재귀함수에서 5 번째 재귀함수를 호출합니다.
4 번째 재귀함수를 호출합니다.
3 번째 재귀함수를 호출합니다.
2 번째 재귀함수를 호출합니다.
1 번째 재귀함수를 호출합니다.

#### Q76.
10!을 재귀함수를 이용하여 출력하세요.

In [4]:
def factorial_iterative(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result
factorial_iterative(10)

3628800

#### Q77.
N X M 크기의 미로에는 여러마리의 괴물이 있어 이를 피해 탈출해야 한다. 주인공의 위치는 (1,1)이고 미로의 출구는 (N-1,M-1)의 위치에 존재하며 한번에 한칸씩 이동할 수 있다. 괴물이 있는 부분은 0, 없는 부분은 1로 표시되어 있으며 미로는 반드시 탈출할 수 있는 형태로 제시된다. 주인공이 탈출하기 위해 움직여야 하는 최소 칸의 개수를 구하세요. 칸을 셀 때는 시작 칸과 마지막 칸을 모두 포함하여 계산하고 입력 조건은 아래와 같다.(BFS를 이용)
- 첫째 줄에 두 정수 N,M(4<=N,M<=200)이 주어진다. 
- 다음 N개의 줄에는 각각 M개의 정수(0 혹은 1)로 미로의 정보가 주어진다. 각각의 수들은 공백없이 붙여서 입력으로 제시된다. 
- 또한 시작칸과 마지막칸은 항상 1이다.

In [ ]:
5 5
11011
01011
01111
11011
10111
9

#### Q78.
소수란 2보다 큰 자연수 중에서 1과 자기자신을 제외한 자연수로는 나누어떨어지지 않는 자연수이다. 어떠한 자연수가 소수인지 아닌지 판별하는 프로그램을 작성하세요.

In [1]:
n = 10001
arr = [True] * n
for i in range(2, int(n**0.5)+1):
    if arr[i] == True:
        for j in range(2 * i, n, i):
            arr[j] = False

In [2]:
t = int(input())
prime = [0,0]
for i in range(t):
    gap = 10000
    k = int(input())
    for j in range(2, k):
        if arr[j] and arr[k-j]: # 두 수가 소수이고
            if gap > abs(j-(k-j)): # 두 수의 차가 더 작으면
                gqp = abs(j - (k-j)) # 차를 저장하고
                prime[0] = j # 수를 저장한다.
                prime[1] = k-j
    print(prime[0], prime[1])

 5
 3

2 1

 3

2 1

 5

3 2

 7

5 2

 32

31 1

#### Q79.
M 이상 N 이하의 소수를 모두 출력하는 프로그램을 작성하세요.
- 입력조건
  - 첫째 줄에 자연수 M과 N이 빈칸을 사이에 두고 주어진다.(1<=M<=N<=1,000,000)
  - 단 M이상 N 이하의 소수가 하나 이상 있는 입력만 주어진다.